body {
    background-color: silver;
}

.wrapper {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    background-color: white;
}

form {
    width: 220px;
    height: 150px;
    padding-top: 150px;
    margin: 0 auto;
    text-align: center;
    font-size: 28px;
    color: #b7a6ad;
}

#btn, #btnZero {
    width: 100px;
    height: 30px;
    line-height: 26px;
    vertical-align: middle;
    text-align: center;
    color: #eaeff9;
    background-color: #a8adb4;
    border: no-border;
}