/*ZAZOR*/
body {
	font-family: 'Lucida Sans Unicode', Arial;
}

.wrapper {
	width: 910px;
	margin: 0 auto;
}

header {
	padding-top: 1px;
}

.contact {
	margin: 20px 0 0 4px;
	color: #5e696d;
	font-size: 18px;
	float: left;
	font-family: Arial;
	letter-spacing: 0.4px;
}

.contact img {
	vertical-align: bottom;
	padding: 1px 0 0 1px;
}

.authorize{
	float: left;
	margin: 18px 0 0 17px;
	width: 495px;
	height: 25px;
	border-radius: 3px;
	background: -webkit-linear-gradient(top, rgba(31,103,135,1) 0%,rgba(28,94,127,1) 17%,rgba(19,70,106,1) 50%,rgba(15,60,97,1) 71%,rgba(12,51,87,1) 100%);
	box-shadow: 1px 2px 5px 0 #969696;
}

.authorize img {
	position: relative;
	left: 7px;
	top: 4px;
}

.authorize form {
	display: inline-block;
	margin-left: 7px;
}
		
.authorize input {
	position: relative;
	top: -2px;
	left: -2px;
}

.authorize input[type="text"] {
	display: inline-block;
	width: 109px;
	font-size: 11px;
	color: #97a2a6;
	vertical-align: middle;
	padding: 2px 0 2px 5px;
	border-width: 0px;
	border-radius: 2px;
}

.authorize input[type="password"] {
	width: 110px;
	font-size: 11px;
	color: #97a2a6;
	vertical-align: middle;
	padding: 2px 0 2px 5px;
	border-width: 0px;
	border-radius: 2px;
}

.authorize input[type="submit"] {
	background: none;
	color: white;
	border: none;
	font-size: 11px;
	padding-right: 5px;
	border-right: 1px solid #d1d6dc;
	line-height: 11px;
	cursor: pointer;
	margin-left: -2px;
}

.register {
	text-decoration: none;
	color: white;
	font-size: 11px;
	position: relative;
	top: -2px;
	left: -2px;
}
		
.forgotpwd {
	position: relative;
	left: 6px;
	bottom: 2px;
	color: #bfbfbf;
	display: inline-block;
	font-size: 12px;
	text-decoration: none;
	line-height: 14px;
	border-bottom: 1px solid #677c8f;
	margin: 0 0 5px 5px;
}

header nav {
	float: right;
	width: 75px;
	height: 19px;
	border: 1px solid #c1c8cb;
	border-radius: 12px;
	margin-top: 18px;
	margin-right: 9px;
	box-shadow: 0px 2px 9px -2px rgba(0,0,0,0.4)
}
		
header nav a {
	margin-left: 8px;
	line-height: 16px;
	display: block;
	float: left;
}

.logo {
	margin-top: 10px;
}

.hor_menu {
	height: 27px;
	background: -webkit-linear-gradient(top, rgba(109,117,124,1) 0%,rgba(80,88,96,1) 3%,rgba(70,77,84,1) 6%,rgba(45,50,54,1) 13%,rgba(42,46,50,1) 16%,rgba(19,21,23,1) 55%,rgba(7,8,9,1) 81%,rgba(1,1,1,1) 100%);
	border-radius: 5px;
	padding-top: 4px;
	width: 909px;
	border: 1px solid #0d1642;
	box-shadow: 1px 3px 5px 1px rgba(0,0,0,0.75);
	margin-top: 3px;
}

.hor_menu ul {
	margin-left: 127px;
}

.hor_menu li {
	float: left;
	list-style: none;
	color: white;
}

#pay {
	margin-left: -4px;
}

#delivery {
	margin-left: -7px;
}
#articles {
	margin-left: -7px;
}

#contacts {
	margin-left: -13px;
}

.hor_menu li a {
	color: #b1bcc0;
	text-decoration: none;
	display: block;
	line-height: 26px;
	padding: 0 18px;
	font-size: 14px;
}
	
.hor_menu li a:hover {
	background: -webkit-linear-gradient(top, rgba(31,103,135,1) 0%,rgba(30,99,131,1) 9%,rgba(17,65,101,1) 59%,rgba(12,51,87,1) 100%);
	color: white;
	border-radius: 12px;
}

.cart {
	float: right;
	font-size: 11px;
	margin: -2px 14px 0 0;
}

.cart a {
	color: #8a9296;
	text-decoration: none;
}

.cart a img {
	position: relative;
	top: 5px;
	margin-right: 3px;
}

.cart a span {
	color: #0d5a8f;
	vertical-align: middle;
	font-size: 12px;
	font-family: Arial;
}

.bigspace {
	padding-left: 10px;
}

.form1 {
	position: relative;
	float: left;
	margin-top: 13px;
	margin-left: 4px;
	width: 413px;
	height: 132px;
	border: 1px solid #b8b8b9;
	border-radius: 18px;
	box-shadow: 2px 3px 5px 0 rgba(104, 104, 104, 0.75);
}

.form2 {
	float: left;
	margin-top: 13px;
	margin-left: 14px;
	width: 192px;
	height: 132px;
	border: 1px solid #b8b8b9;
	border-radius: 18px;
	box-shadow: 3px 3px 5px 0 rgba(104,104,104, 0.75)
}

.form3 {
	width:265px;
	float: left;
	margin-top: 11px;
	margin-left: 9px;
	height: 132px;
	border: 1px solid #b8b8b9;
	border-radius: 18px;
	box-shadow: 3px 3px 5px 0 rgba(104,104,104, 0.75)
}

.content {
	clear: both;
	width: 909px;
}

.content:after {
	content: '';
	clear: both;
	display: block;
}
		
.leftmenu {
	float: left;
}
		
.catalog {
	border: 1px solid #79878d;
	border-radius: 20px;
	margin: 19px 0 12px 0;
	height: 25px;
	font-size: 13px;
	color: #114165;
	width: 179px;
	padding-left: 1px;
	padding-top: 1px;
	box-shadow: 3px 3px 8px -2px rgba(0,0,0,0.4);
}
	    
.catalog span {
	position: relative;
	bottom: 5px;
	margin-left: 4px;
}

.big_li {
	list-style: none;
	color: #114165;
	line-height: 24px;
	width: 170px;
	font-size: 13px;
}

.bordered {
	border: 1px solid #79878d;
	border-radius: 12px;
	width: 148px;
}

.big_li span {
	margin-left: 4px;
	display: inline-block;
	vertical-align: middle;
}

.small_li {
	margin-left: 53px;
	font-size: 15px;
	list-style-type: circle;
	margin-bottom: 1px;
	margin-top: 1px;
}

.small_li a {
	color: #465961;
	text-decoration: none;
	font-size: 13px;
	margin-left: -6px;
	display: block;
	height: 24px;
	vertical-align: middle;
}

.small_li a:hover {
	font-style: italic;
	font-weight: bold;
	color: #0c3256;
	text-decoration: underline;
	font-size: 14px;
	font-family: Arial;
	vertical-align: middle;
}

.small_li:hover{
	list-style-image: url(../img/small.png);
	list-style-position: inside;
	margin-left: 41px;
}

.circle {
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	width: 11px;
	height: 11px;
	border: 5px solid #114165;
	border-radius: 100%;
}
		
.showcase {
	float: left;
	width: 525px;
	margin: 16px 10px 10px 9px;
	background: -webkit-linear-gradient(top, rgba(229,231,232,1) 0%,rgba(219,224,226,1) 14%,rgba(186,198,203,1) 44%,rgba(155,173,181,1) 83%,rgba(147,167,176,1) 100%,rgba(161,179,187,1) 100%);
}
		
section {
	float: left;
}
		
section div {
	float: left;
	width: 138px;
	margin: 15px 7px 9px 0px;
}
		
section h1 {
	font-size: 15px;
	color: #206988;
	text-align: center;
	line-height: 15px;
}
		
section h2 {
	font-size: 13px;
	line-height: 13px;
	text-align: center;
	font-weight: normal;
}
		
figcaption {
	font-family: Arial;
	text-align: center;
	font-size: 16px;
	padding-left: 15px;
	color: #114165;
	font-weight: bold;
	font-style: italic;
	margin-top: -5px;
}

figcaption span {
	font-size: 12px;
}

.tire123 {
	width: 138px;
	height: 128px;
	background: white;
	border: 1px solid #b0b9bc;
	border-radius: 11px;
	text-align: center;
	vertical-align: middle;
}

.tire123 img {
	margin-top: 5px;
}
		
.row3 {
	padding: 1px 0 21px;
}
		
aside {
	float: right;
}
		
.brands {
	border: 1px solid #79878d;
	border-radius: 20px;
	margin: 16px 0 13px 0;
	height: 25px;
	font-size: 14px;
	color: #114165;
	vertical-align: middle;
	width: 179px;
	padding-left: 1px;
	padding-top: 1px;
	box-shadow: 3px 3px 8px -2px rgba(0,0,0,0.4)
}
		
.brands span {
	position: relative;
	bottom: 5px;
	margin-left: 6px;
	vertical-align: middle;
}
		
aside p {
	font-family: Arial;
	border: 1px solid #79878d;
	border-radius: 12px;
	width: 133px;
	margin-left: 15px;
	font-size: 14px;
	padding: 3px 0;
}
		
.circle2 {
	display: inline-block;
	vertical-align: middle;
	margin-left: 4px;
	width: 11px;
	height: 11px;
	border: 5px solid #114165;
	border-radius: 100%;
}
		
aside p span {
	display: inline-block;
	vertical-align: middle;
}
		
aside form{
	width: 130px;
	margin: 3px 0 7px 23px;
}

aside label {
	position: relative;
	top: -2px;
	left: 12px;
	font-size: 13px;
}
		
aside input[type="checkbox"] {
	height: 11px;
	position: relative;
	top: 0px;
}
			
aside input[type="submit"] {
	background: -webkit-linear-gradient(top, rgba(31,103,135,1) 0%,rgba(28,94,126,1) 17%,rgba(18,67,102,1) 57%,rgba(12,51,87,1) 100%);
	color: #fff;
	width: 80px;
	height: 24px;
	border-radius: 10px;
	margin-top: 14px;
	cursor: pointer;
	border: 0px;
	box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.3);
	font-family: Arial;
	font-size: 11px;
}
		
aside form div {
	height: 25px;
}
		
.tiresbrands {
	margin-top: 27px;
	margin-left: 117px;
	margin-bottom: 17px;
}
		
.tiresbrands li {
	display: inline-block;
	margin-left: 11px;
}
		
footer {
	width: 910px;
	font-family: Arial;
	background: #213a4d;
	padding-top: 11px;
	font-size: 12px;
	padding-bottom: 22px;
}
		
footer ul {
	margin-left: 297px;
}
		
footer li {
	display: inline-block;
	list-style: none;
	color: white;
	margin: 0 -1px;
	border-right: 1px solid #bec6c9;
	padding: 0 13px;
}
		
footer .noborder {
	border-right: 0;
}
		
footer li a {
	color: #bec6c9;
	text-decoration: none;
	line-height: 10px;
	display: block;   	
}
		
footer li a:hover {
	color: #52abcb;
}
		
footer p {
	color: #7f4740;
	margin-left: 376px;
	margin-top: 14px;
	font-size: 10px;
	margin-bottom: 30px;
}