.wrapper {
    margin: 0 auto;
    height: 700px;
    width: 500px;
}

a {
    cursor: pointer;
}

img {
    width: 500px;
    height: 500px;
}

.touchslider-viewport,
.touchslider-item,
.touchslider-demo {
    height: 500px;
    overflow: hidden;
    margin: 0 auto;
}

.touchslider-item {
    display: inline;
}

.nav {
    margin: 0 auto;
    text-align: center;
}