@font-face {
    font-family: 'helvetica_neueregular';
    src: url('../fonts/helveticaneue-thin-webfont.eot');
    src: url('../fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	background: url('../img/bg.jpg');
	background-size: 100%;
	font-family: 'helvetica_neueregular', 'Tahoma';
}

a,
a:hover,
a:visited,
a:active {
	text-decoration: none;
	cursor: pointer;
}

.top-menu {/*Верхнее меню с синим фоном*/
	background: url('../img/menu_bg.gif') repeat-x;
	min-height: 36px;
	min-width: 100%;
	background-color: blue;
}

ul.menu {
	position: absolute;
	right: 364px;
	border-right: 1px solid #56a2dc;
}

ul.menu  li  {
	display: inline-block;
	line-height: 36px;
	width: 70px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}

ul.menu  li  a {
	color: #60b5ed;
}

.menu  li:first-child  {
	width: 110px;
}

ul {
  float: right;
}

.menu li:hover {
	 background-color: #4eabda;
	 
}

.menu li:hover a {
	color: #fff;
}

ul.menu2 li:hover{
  background: -moz-linear-gradient(rgb(66,153,210) 20%, rgb(0,115,190));
  background: -webkit-linear-gradient(rgb(66,153,210) 20%, rgb(0,115,190));
  background: -o-linear-gradient(rgb(66,153,210) 20%, rgb(0,115,190));
  background: linear-gradient(rgb(66,153,210) 20%, rgb(0,115,190));
}

ul.menu2 li {
	display: inline-block;
	text-align: center;
	line-height: 36px;
	font-size: 14px;
}

ul.menu2 li img {
	float: left;
	margin-top: 5px;
	margin-left: 12px;
}

ul.menu2 li:first-child {
	width: 160px;
}

ul.menu2 li:last-child {
	width: 190px;
}

ul.menu2 li a {
	width: 190px;
	color: white;
}

ul.menu2 {
	position: absolute;
	right: 10px;
	vertical-align: middle;
}

.wrapper {/*Прозрачный блок, содержит div.top и div.form-box*/
	width: 560px;
	height: 615px;
	margin: 213px auto 202px;
}

.top {
	width: 560px;
	height: 62px;
	background: rgba(0,0,0,0.6);
	color: white;
	font-weight: 500;
	font-family: Tahoma;
	font-size: 24px;
	line-height: 62px;
	vertical-align: center;
	text-align: center;
}

.form-box {/*Содержит формы*/
	width: 560px;
	height: 561px;
	margin-top: 2px;
	background: rgba(0,0,0,0.6);
	padding-top: 1px;
	text-align: center;
}

input#fb.fb-log-in  {/*кнопка лог-ин Фейсбук*/
	background-image: url('../img/fb_log_in.jpg');
	width: 276px;
	height: 35px;
	margin: 34px auto auto;
	display: block;
	border: 0 solid rgb(56,80,140);
	border-radius: 5px;
	cursor: pointer;
}

hr {
	display: inline-block;
	width: 120px;
	height: 0;
	border-bottom: 1px solid black;
	border-top: 1px solid #666;
	margin-bottom: 5px;
}

div.ou {
	padding-top: 32px;
	color: #999;
	font-size: 14px;
}

.easylogin {
	width: 276px;
	margin: 0 auto;
}

.gaps {
	width: 276px;
	margin: 8px auto 0;
}

.gaps div input {
	margin-top: 18px;
	width: 276px;
	height: 35px;
	box-sizing: border-box;
	background-color: #100f0f;
	border: 1px solid #666;
	border-width: 0 0 1px 0;
	padding-left: 20px;
	font-size: 14px;
}

.gaps div input[type='checkbox'] {
	width: 12px;
	height: 12px;
	margin-left: 0;
	margin-bottom: 0;
	vertical-align: bottom;
}

.check {
	color: white;
	font-size: 14px;
	text-align: left;
	font-family: 'Helvetica';
}

.finish div input[type="submit"] {
	width: 150px;
	height: 36px;
	text-align: center;
	margin: 0 auto;
	font-size: 14px;
	color: white;
	background: -moz-linear-gradient(rgb(66,153,210) 20%, rgb(0,115,190));
	background: -webkit-linear-gradient(rgb(66,153,210) 20%, rgb(0,115,190));
	background: -o-linear-gradient(rgb(66,153,210) 20%, rgb(0,115,190));
	background: linear-gradient(rgb(66,153,210) 20%, rgb(0,115,190));
	border: 0;
	border-radius: 5px;
}

.create {
	margin-top: 23px;
}

p {
	color: white;
	font-size: 11px;
	padding-top: 15px;
	line-height: 1.6;
	font-family: 'Helvetica';
}

.gaps div input[type=text]:hover ,
.gaps div input[type=email]:hover ,
.gaps div input[type=password]:hover  {
	background-color: #1b5288;
	border-bottom: 1px solid #689bcc;
	box-shadow: 0 0 10px #4a87af;
}