@font-fase{
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneuecyr-thin-webfont.eot');
    src: url('../fonts/helveticaneuecyr-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-thin-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	background: url('../img/bg.jpg');
	background-size: 100%;
}

a,
a:hover,
a:visited,
a:active {
	text-decoration: none;
	color: white;
	cursor: pointer;
}

.top-menu {/*Верхнее меню с синим фоном*/
	background: url('../img/menu_bg.gif') repeat-x;
	min-height: 36px;
	min-width: 100%;
	background-color: blue;
}

ul.menu {
	position: absolute;
	right: 372px;
	border-right: 1px solid #56a2dc;
}

ul.menu  li  {
	display: inline-block;
	height: 36px;
	width: 70px;
	text-align: center;
}

.menu  li:first-child  {
	width: 120px;
}

ul {
  float: right;
}

.menu li a {
	color: #60b5ed;
	font-size: 14px;
	font-weight: bold;
}

.menu li a:hover{
  background-color: #4eabda;
  color: #ffffff;
}

ul.menu2 li a img{
}

ul.menu2 li a:hover{
  background: -moz-linear-gradient(rgb(66,153,210) 20%, rgb(0,115,190));
  background: -webkit-linear-gradient(rgb(66,153,210) 20%, rgb(0,115,190));
  background: -o-linear-gradient(rgb(66,153,210) 20%, rgb(0,115,190));
  background: linear-gradient(rgb(66,153,210) 20%, rgb(0,115,190));
  border-left: 1px;
  border-right: 1px;
  border-bottom: 1px;
  border-style: solid;
  border-color: rgb(66,153,210);
}

ul.menu2 li {
	display: inline-block;
	text-align: center;
}

ul.menu2 li:first-child {
	width: 160px;
}

ul.menu2 li:last-child {
	width: 190px;
}


ul.menu2 li a {
	width: 190px;
}

ul.menu2 {
	position: absolute;
	right: 10px;
	vertical-align: middle;
}

.wrapper {/*Прозрачный блок, содержит div.top и div.form-box*/
	width: 560px;
	height: 615px;
	margin: 213px auto 202px;
}

.top {
	width: 560px;
	height: 62px;
	background: rgba(0,0,0,0.6);
	color: white;
	font-weight: 500;
	font-family: Tahoma;
	font-size: 24px;
	line-height: 62px;
	vertical-align: center;
	text-align: center;
}

.form-box {/*Содержит формы*/
	width: 560px;
	height: 561px;
	margin-top: 2px;
	background: rgba(0,0,0,0.6);
	padding-top: 1px;
}

input#fb.fb-log-in  {/*кнопка лог-ин Фейсбук*/
	background-image: url('../img/fb_log_in.jpg');
	width: 276px;
	height: 35px;
	margin: 34px auto auto;
	display: block;
	border: 0px solid rgb(56,80,140);
	border-radius: 5px;
	cursor: pointer;
}

hr {
	display: inline-block;
	width: 120px;
	height: 0px;
	border-bottom: 1px solid black;
	border-top: 1px solid #666;
	margin-bottom: 5px;
}

div.ou {
	padding-top: 32px;
	color: #999;
}

.easylogin {
	width: 276px;
	margin: 0px auto;
}
