body {
    background-color: silver;
}


.wrapper {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    background-color: white;
}

.text-center {
    font-family: Tahoma;
    font-size: 20px;
    padding-top: 20px;
}

.question {
    padding-left: 100px;
    font-size: 20px;
}

#option1,
#option2,
#option3 {
    display: block;
    cursor: pointer;
    background: #cfe2f3;
    border: 0;
    border-radius: 0;
}

.checkbox {
    font-weight: 100;
    font-size: 14px;
    margin-left: 50px;
    cursor: pointer;
}

#result {
    font-family: Tahoma;
    font-size: 20px;
    background-color: #cfe2f3;
    border: 0;
    border-radius: 0;
    padding: 10px 20px;
    margin-left: 255px;
    margin-top: 100px;
    cursor: pointer;
}