* {
	margin: 0;
	padding: 0;
}

body {
	background-color: grey;
}

.wrapper {
	margin: 70px auto;
	width: 500px;
}

table {
	border-collapse: collapse;
	background-color: white;
}

tr {
	height: 34px;
}

td {
    border: 10px solid black;
}

col {
	width: 34px;
}

.red {
	background-color: red;
}

.yellow {
	background-color: yellow;
}

.black {
	background-color: black;
}

.blue {
	background-color: blue;
}

.top {
	border-top: none;
}

.right {
	border-right: none;
}

.bottom {
	border-bottom: none;
}

.left {
	border-left: none;
}

